html {
  background-color: #088A4B;
}
.main {
  width: 530px;
  margin: 100px auto;
}
#chat-history, #players-box {
  overflow-y: scroll;
  border-radius: 5px;
  padding: 8px;
  margin: 5px 0px;
}
#players-box {
  background: #C8FE2E;
  height: 200px;
}
#chat-history {
  background: #81F79F;
  height: 200px;
}
#chat-history .username {
  font-weight: bold;
}
#chat-history .message {
  font-style: italic;
  color: #0B3B17;
}
#chat-input {
  width: 85%;
  margin: 5px;
}
.game-panel {
  width: 75%;
  margin: 0;
  float: left;
}
.side-panel {
  width: 25%;
  margin: 0;
  float: left;
}
#enterButton, .bigInput, #mainAlert {
  width: 500px;
  text-align: center;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  font-size: 30px;
}
#enterButton {
  background-color: black;
  border-color: yellow;
  color: white;
}
#enterButton:hover {
  background-color: #151515;
}
#mainAlert {
  display: none;
  background-color: #DBA901;
  height: 124px;
  width: 484px;
  padding-top: 48px;
  border: 8px solid #F5DA81;
}
table {
  width: 100%;
}
table#players td {
  width: 50%;
}
tr.rectRow td {
  padding: 10px 0px;
}
.cell-number {
  display: none;
  position: fixed;
  background-color: #FFF;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 4px;
}
.player {
  background-color: #DDDDFF;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 40px;
}
.rect {
  background-color: #01DFA5;
  height: 100px;
  border: 2px outset #01DFA5;
}
.player.empty {
  background-color: #0B3B17;
  color: #81F79F;
}
.player.me {
  background-color: #FFFF00;
}
.player.empty:hover {
  background-color: #0B610B;
}
.rect.hover {
  background-color: #00FFBF;
  border-color: #00FFBF;
}
.rect.checked {
  background-color: #9A2EFE;
  border-color: #9A2EFE;
}
.rect.checked.hover {
  background-color: #AC58FA;
  border-color: #AC58FA;
}
.async {
  border-width: 0px;
}
